@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #0f172a;
  --color-primary: #0284c7; /* Biru Langit Cerah (Sky Blue) */
  --color-ocean: #0369a1;   /* Biru Laut Dalam (Ocean Blue) */
}

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
}

body {
  background-color: #f0f9ff; /* Latar belakang biru air sangat muda (sky-50) */
  color: #0f172a;
}